{% extends 'task/base.html' %}

{% block content %}

<div class="center-column">


	<div class="todo-list">
	<h3>Tasks</h3>
		<h2><strong>{{ task.title}}</strong></h2>
		<br>
		<br>
		<h2>{{ task.description }}</h2>
		<br>
		<h2>{{ task.created_at }}</h2>
		<br>
		<h2>{{ task.get_status_display }}</h2>
		<br>

	<a class="btn btn-sm btn-info" href="{% url 'task-update' task.id %}">Update</a>
		<a class="btn btn-sm btn-danger" href="{% url 'task-delete' task.id %}">Delete</a>



	</div>
</div>
{% endblock content %}


